@charset "utf-8";
body{
    background-image: url('../img/black.jpg');
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    
}
.NJadaka, .TChalla, .HomemDeFerro, .Thanos {
    background-color: rgba(0, 0, 0, 0.39);
    color: white;
    font-weight: 900;
    border: 3px solid;
    border-radius: 15px;
    flex:1 0 30%;
    height: fit-content;
}

.container {
display: flex;
min-height: 90vh;
}
.TChalla {
align-self: flex-end;

}
.NJadaka, .HomemDeFerro {
    align-self: flex-start;
}

.Left{
    display: flex;
    flex-direction: column ;
 
width: 100%;
justify-content: space-between;
}