@charset "utf-8";
body {
  background-image: url('123.jpg');
  background-repeat: no-repeat;
  
  background-size: cover;

  /* width: 950em; */
  /* height: 800em; */
  background-color: #1c0235;
  color: #ffffff;
  font-family: Arial, Verdana, sans-serif;
}

h1 {
  background-color: rgb(255, 230, 0);
  text-align: center;
}

nav{

  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
a{
  color:rgb(255, 230, 0);
}

  P.virgil.gif{
    margin-left: auto;
    margin-right: auto;
    width: auto
}