@charset "utf-8";
body {
    background-image: url('static.jpg');
    background-repeat: no-repeat;
    background-size: 100em;
   width: 950em;
   height: 800em;
    background-color: #1c0235;
 color: #000000;
 font-family: Arial, Verdana, sans-serif;
}

h1 { background-color: rgb(255, 230, 0);
text-align: center;
}

nav{

    text-align: center;
    color: #ffd000;
    font-family: Arial, Helvetica, sans-serif;
}

   

