@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.3rem;
    font-family: 'Oswald', sans-serif;
    background: #f9f9f9;
}

p {
    color: #333;
    text-decoration: none;
}

.main-header {
  background-image: url('https://media.discordapp.net/attachments/967580150361387031/967936411544199268/contribuicao.jpg?width=626&height=468');
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
    padding: 0 20px;
   }
}

.main-header h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
    line-height: 1.2rem;
}

.main-header h2 span {
    color: #b50d10;
}

.main-header p {
    font-size: 2rem;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
}


.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    background: #f1f1f1;
    margin-bottom: 2rem;
}

.card h3 {
    margin-bottom: 2rem;
}



.card div {
    padding: 2rem;
}

/* Para trocar a imagem de lado, o (even) e para mudar em números par, e o (odd) e para mudar em números impar. Usando o Pseudoclasse nth-child. */
.card:nth-child(even) img {
    order: 2;
}

.btn {
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 0.8rem 1.8rem;
    margin-top: 2rem;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}


footer{
 
  text-align: center;
  border: 10px #8c867c solid;
  width: 80%;
margin: 10px auto;
border-radius: 15px;
}
footer  p::before{
  content: "\00A9";
  text-align: center;
}
footer p::after{
  content: "S.N.D";
}
