@charset "utf-8";
body {
    background-image: url('https://i.pinimg.com/564x/c9/52/4f/c9524f9373f1cafb06cf3d4d365215b7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;
 color: #000000;
 font-family: Arial, Verdana, sans-serif;
}
h1 {
 
 color: #f1e2ef;
 line-height: 200%;
 font-family: Georgia, "Times New Roman", serif;
 text-shadow: 3px 3px 5px #e26bba;
 text-align: center;
}
h2 {
background-color: #ffffff;
 font-family: Georgia, "Times New Roman", serif;
 text-align: center;
color: rgb(150, 25, 94);
}
p {
    background-color: #00000000;
 font-size: .90em;
 text-indent: 3em;

}
ul {
 font-weight: bold;
 color: rgb(0, 0, 0);
 font-size:larger;
}
footer {
 color: #000000;
 font-size: .75em;
 font-style: italic;
 font-family: 'Courier New', Courier, monospace;
}
.cor_texto {
 color: #0c0a0a;
}
#valor_id {
    propriedade01: "valor01";
    propriedade02: "valor02";
}
#primeiro_nome {
    color: rgb(0, 0, 0);
   }

   .Hillary {

       display: flex;
   }
     .Hillary img {
       width: 180px;
     }
   .Hillary p {
       margin-left: 30px;
       text-align: 15px;
   }

p {

    color: rgb(0, 0, 0);
 font-family: Georgia, "Times New Roman", Arial, serif;
 font-size: 1.1em;
 text-align: center;

}